<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Note-Taking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles_note.css" />

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/notes" ><p class="navbar-brand">TAKE NOTES</p></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Your Space</a></li>
          <li id="about"><a href="/toDo">To-Do</a></li>
          <li id="contact"><a href="/currentAffairs">CURRENT Affairs</a></li>
          <li id="compose"><a href="/Dictionary">Dictionary</a></li>
        </ul>
      </div>
    </nav>

  </head>
  <body>
    <div class= "content">
    
      <h1>Compose</h1>
    
    
      <form method="post" action="/compose">
        <div class="form-group" >
          <label for="title1">Title</label>
          <input
            type="text"
            name="postTitle"
            class="form-control"
            placeholder="Enter Title"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="Post">Post</label>
        
          <textarea
              class="form-control"
              name="postBody"
              id="exampleFormControlTextarea1"
              rows="5"
              autocomplete="off"></textarea>
          </div>
    
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>

    </div>
    
  </body>
  <div class="footer-padding"></div>
    <div class="footer">
      <p class="footer-text">Made with ❤️ by Noob Coders</p>
    </div>
  </div>
</html>
