<!DOCTYPE html>
<html>

<head>
  
  <title>Your Space</title>

  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta name="author" content="Noob Coders" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Stlesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/style_home.css" />

  <!-- Font awesome and Text Fonts -->
  <script src="https://kit.fontawesome.com/57cc223bdb.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Arvo:wght@700&family=Kanit:wght@500&family=Noto+Sans&family=Noto+Sans+Mono:wght@600&display=swap" rel="stylesheet">

  <!-- Logo  -->
  <link rel="icon" href="/images/logo.png">

</head>


<body>

  <!-- Navigation Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
      <img class="d-inline-block align-center" src="images/logo.png" alt="LOGO" width="30" height="30" />
      YOURSPACE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-dropdown"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-dropdown">
      <ul class="navbar-nav ms-right">
        <li class="nav-item">
          <a href="/toDo" class="nav-link">To-Do</a>
        </li>
        <li class="nav-item">
          <a href ="/notes" class="nav-link">Note-Maker</a>
        </li>
        <li class="nav-item">
          <a href="/currentAffairs" class="nav-link">Current-Affairs</a>
        </li>
        <li class="nav-item">
          <a href="/dictionary" class="nav-link">Word's World</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <!-- <a href = "/signin">
          <button type="submit" class="btn btn-dark btn-outline-light ms-auto">
            Log In
          </button>
        </a> -->
        <a href = "/">
          <button type="submit" class="btn btn-dark btn-outline-light sign-up">
            Log Out
          </button>
        </a>
      </ul>
    </div>
  </nav>

  <!-- Header -->

  <div class="header">
    <img src="images/home-image.jpg" alt="" class="home-image">
    <div class="header-text">
      <h1 class="header-title">Your Space</h1>
      <h3 class="header-tagline">Sorting out the complications</br> of our Users Life</h3>
      <a href="/signup" class="button button1">Try Now</a>
    </div>
  </div>

  <!-- Cards  -->

  <div id="mycards" class="card-group">
    <div class="card" id="card1">
      <div class="card-content">
        <h2 class="card-title">To Do List
        </h2>
        <p class="card-body">
          <li>User Friendly Time Saving Interface</li>
          <li>Grouping tasks in handy tasks </br>list</li>
          <li>Auto Syncing with you Google
            </br> Account</li>
          <li>Also Syncs with your Google Calander </li>
        </p>
        <a href="/toDo" class="button button2">Try Now</a>
      </div>
    </div>
    <div class="card" id="card2">
      <div class="card-content">
        <h2 class="card-title">Notes Taking</h2>
        <p class="card-body">
          <li>Keep a journal to keep your thoughts organized.</li>
          <li>Create differnet notebooks for each class</li>
          <li>Syncing that just works</li>
          <li>User friendly interface</li>
        </p>
        <a href="/notes" class="button button2">Try Now</a>
      </div>
    </div>
    <div class="card" id="card3">
      <div class="card-content">
        <h2 class="card-title">Current Affairs</h2>
        <p class="card-body">
          <li>Best User Experience and Interface</li>
          <li>Read Daily News in less than </br>100 words.</li>
          <li>Features expert crafted content.</li>
          <li>Categorisation for convenience of</br> our user</li>
        </p>
        <a href="/currentAffairs" class="button button2">Try Now</a>
      </div>
    </div>
    <div class="card" id="card4">
      <div class="card-content">
        <h2 class="card-title">Dictionary</h2>
        <p class="card-body">
          <li>Get Meaning of Words with </br> with proper definition</li>
          <li>Phonetics of Words</li>
          <li>Example of word also shown</li>
          <li>Antonynms, Synonyms and part </br> of speech shown</li>
        </p>
        <a href="/dictionary" class="button button2">Try Now</a>
      </div>
    </div>
  </div>

  <!-- Content Description-->

  <div class="tools">
    <hr class="separator">
    </hr>
    <div class="tool-row">
      <img class="left-img"
        src="https://www.notionwizard.com/wp-content/uploads/2021/04/Notion-To-Do-List-Template-Illustration.jpg"
        alt="to-do">
      <h3><u>TO-DO LIST</u></h3>
      <p class="todo-tool-description">Small steps every day add up to big achievements over time. Set daily and weekly
        goals, and regain clarity and calmness. To-do list surfaces the right tasks at the right times so you always
        know
        what to focus on next.</p>
    </div>
    <hr class="separator">
    </hr>
    <div class="tool-row">
      <img class="right-img"
        src="https://images.squarespace-cdn.com/content/v1/57d0a309d2b857a49b7ee374/1537570520028-86NDPZGD6HM6I7XK2WQZ/Council+Notes.jpg?format=1500w"
        alt="notes taking">
      <h3><u>NOTES TAKING</u></h3>
      <p class="note-tool-description">Tame your work, organize your life!! Keep important info handy. Learn faster,
        remember more and get things done. Capture ideas when inspiration strikes!!</p>
    </div>
    <hr class="separator">
    </hr>
    <div class="tool-row">
      <img class="left-img" src="http://rajras.in/wp-content/uploads/2016/10/CurrentAffairs-2.png"
        alt="current affairs">
      <h3><u>CURRENT AFFAIRS</u></h3>
      <p class="current-tool-description">It provides you with every kind of current affairs separately including
        trending, national, international, sports related to current affairs in different sections to provide you with
        ease. Bookmark & save important articles for later.</p>
    </div>
  </div>

</body>


<!-- Footer -->

<div id="footer"> 
  <p>CONTACT US!</p>
  <div class="footer-content">
    <hr />

    <a href="https://linktr.ee/noobcoders" target="_blank"><i class="fab fa-github icons"></i></a>
    <a href="https://linktr.ee/noobcoders_linkedin" target="_blank"><i class="fab fa-linkedin icons"></i></a>
    <a href="mailto: noobcoders@yahoo.com" target="_top"><i class="far fa-envelope icons"></i></a>
  </div>
  <div class="footer-bottom">
    <marquee direction="right">
      <p>&copy copyright prohibited || Designed by Noob Coders </p>
    </marquee>
  </div>
</div>

</html>
