<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Note-Taking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles_note.css" />

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a href="/notes" ><p class="navbar-brand">TAKE NOTES</p></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Your Space</a></li>
          <li id="about"><a href="/toDo">To-Do</a></li>
          <li id="contact"><a href="/currentAffairs">CURRENT Affairs</a></li>
          <li id="compose"><a href="/Dictionary">Dictionary</a></li>
        </ul>
      </div>
    </nav>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>

<div class= "content">

<h1><%= title %> </h1>
<p><%= content %></p>

</div>
</div>

</body>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="footer-text">Made with ❤️ by Noob Coders</p>
  </div>
</div>
</html>